.app-title.navbar.navbar-expand-md.bg-light {
  background-color: orange;
  position:relative;
  top:-1px;
  height: 80px;
  // position: fixed;
  width: 100%;
  .navbar-brand {
    // text-align: center;
    font-size: 25px;
    padding-right: 10px; 
    .title {
      text-decoration: none;
      color: white;
      font-family: 'Caveat', cursive;
    }
    .navbar-right {
      text-align: right;
      .post {
        text-decoration: none;
        color: white;
        padding: 20px;
      }
      .logaout {
        text-decoration: none;
        color: white;
      }
      .login {
        text-decoration: none;
        color: white;
        padding: 20px;
      }
      .registration {
        text-decoration: none;
        color: white;
      }
    }
  }
}  



  