.app-title.navbar.navbar-expand-md.bg-light {
  background-color: orange;
  position:relative;
  top:-1px;
  height: 80px;
  width: 100%;
  .navbar-brand {
    font-size: 25px;
    padding-right: 10px; 
    .title {
      text-decoration: none;
      color: white;
      font-family: 'Caveat', cursive;
      font-size: 30px;
    }
    .navbar-right {
      text-align: right;
      .post {
        text-decoration: none;
        color: white;
        padding: 20px;
        font-size: 20px;
      }
      .logout {
        text-decoration: none;
        color: white;
        font-size: 20px;
      }
      .login {
        text-decoration: none;
        color: white;
        padding: 20px;
        font-size: 20px;
      }
      .registration {
        text-decoration: none;
        color: white;
        font-size: 20px;
      }
    }
  }
}  



  