html {
  background-color: #f6f6f4;
  margin: auto;
  .search-content {
    background-color: white;
    width:720px;
    height:230px;
    margin: auto;
    border-bottom: 1px solid #eee;
    .text-content {
      position: absolute;
      left: 490px;
      bottom: 550px;
    }
    .form-control {
      width: 200px;
      height: 30px;
    }
    .btn {
      display: block;
      margin: auto;
      border-radius: 4px;
      border: 1px solid orange;
      background: orange;
      color: #fff;
      line-height: 40px;
    }
  }
    .form-group {
      text-align: center;
      padding:80px 0;
      .btn {
        width: 100px;
        position: relative;
        top: -50px;
      }
    } 
  .searchResult {
    background-color: white;
    width:720px;
    margin: auto;
    .searchResult_main {
      border : 2px solid #f6f6f4 ;
      .searchResult-text {
        display: block;
        padding: 10px;
        border: 1px solid #222;
        background-color: #FFF;
        color: #222;
        border-radius: 6px;
        text-align: center;
        width: 695px;
      }
      .day {
        color: gray;
        font-size:16px;
      }
      table {
        text-align: center;
        margin: auto;
        font-size: 20px;
      }
    }
  }
}