.form {
  background-color: #f6f6f4;
  height:630px;
  .login-form {
    text-align:center;
    background-color: white;
    width:720px;
    height:330px;
    margin: auto;
  }
  .mail-field {
    height: 50px;
  }
  .password-field {
    // height: 50px;
  }
  .field {
    height: 50px;
  }
}

.registration-form {
  background-color: #f6f6f4;
  height:800px;
  .login-form {
    text-align:center;
    background-color: white;
    width:720px;
    height:330px;
    margin: auto;
  }
  .mail-field {
    height: 50px;
  }
  .password-field {
    // height: 50px;
  }
  .field {
    height: 50px;
  }
}
