.form {
  background-color: #f6f6f4;
  height:630px;
  .login-form {
    text-align:center;
    background-color: white;
    width:720px;
    height:330px;
    margin: auto;
  }
  .mail-field {
    height: 50px;
  }
  .password-field {
    // height: 50px;
  }
  .field {
    height: 50px;
  }
}

.registration-form {
  background-color: #f6f6f4;
  height:800px;
  .login-form {
    text-align:center;
    background-color: white;
    width:720px;
    height:330px;
    margin: auto;
  }
  .mail-field {
    height: 50px;
  }
  .password-field {
    // height: 50px;
  }
  .field {
    height: 50px;
  }
}

.new-form {
  padding: 10px;
  border: 1px solid #222;
  background-color: white;
  border-radius: 6px;
  width: 250px;
  position: relative;
  top: 30px;
}

.btn-sns-google {
  padding: 10px;
  border: 1px solid #222;
  background-color: #FFF;
  color: #222;
  border-radius: 6px;
  text-align: center;
  width: 250px;
}
