.form {
  background-color: #f6f6f4;
  height:630px;
  .login-form {
    text-align:center;
    background-color: white;
    width:720px;
    height:330px;
    margin: auto;
  }
  .mail-field {
    height: 30px;
    width: 250px;
    border: 1px solid #222;
    border-radius: 6px;
    position: relative;
    top:25px;
  }
  .password-field {
    height: 30px;
    width: 250px;
    border: 1px solid #222;
    border-radius: 6px;
    position: relative;
    top:30px;
  }
  .registration-field {
    height: 30px;
    width: 255px;
    border: 1px solid #222;
    border-radius: 6px;
    position: relative;
    top:60px;
    background-color: #1877f2;
    color: #f6f6f4;
    font-weight: bold;
  }
}

.registration-form {
  background-color: #f6f6f4;
  height:800px;
  .login-form {
    text-align:center;
    background-color: white;
    width:720px;
    height:330px;
    margin: auto;
    .text {
      font-size:15px;
    }
  }
  .mail-field {
    height: 30px;
    width: 250px;
    border: 1px solid #222;
    border-radius: 6px;
    margin-bottom: 20px
  }
  .password-field {
    height: 30px;
    width: 250px;
    border: 1px solid #222;
    border-radius: 6px;
  }
  .field {
    height: 50px;
  }
  .actions {
    height: 30px;
    width: 250px;
    color: #f6f6f4;
    border-radius: 6px;
    background-color: #1877f2;
    font-weight: bold;
  }
}

.new-form {
  padding: 10px;
  border: 1px solid #222;
  border-radius: 6px;
  width: 250px;
  position: relative;
  top: 20px;
  background-color: rgb(0, 208, 255);
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.btn-sns-google {
  padding: 10px;
  border: 1px solid #222;
  background-color: #FFF;
  color: #222;
  border-radius: 6px;
  text-align: center;
  width: 250px;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  bottom: 50px;
}
